/Projeto POO/build/
/JavaApplication21/nbproject/private/
/TesteProjeto/nbproject/private/
/TesteProjeto/build/
/teste/nbproject/private/
/teste/build/
/Final/nbproject/private/
/Final/build/
/Final/dist/